TravelRecordApplication
TheUniverse
BooksAndNews
GeometrixOcpAndNoOcp/Geometrix.NoOcp/.vs
GeometrixOcpAndNoOcp/Geometrix.NoOcp/Geometrix.NoOcp/bin
GeometrixOcpAndNoOcp/Geometrix.NoOcp/Geometrix.NoOcp/obj
GeometrixOcpAndNoOcp/Geometrix.NoOcp/Geometrix.WithOcp/bin
GeometrixOcpAndNoOcp/Geometrix.NoOcp/Geometrix.WithOcp/obj
