TheUniverse
TravelRecordApplication
BooksAndNews/BooksAndNews/.vs
BooksAndNews/BooksAndNews/BooksAndNews/bin
BooksAndNews/BooksAndNews/BooksAndNews/obj
BooksAndNews/BooksAndNews/BooksAndNews.Application/bin
BooksAndNews/BooksAndNews/BooksAndNews.Application/obj
BooksAndNews/BooksAndNews/BooksAndNews.DataAccess/bin
BooksAndNews/BooksAndNews/BooksAndNews.DataAccess/obj
